.cart {
  background: #ffffff;
  border-radius: 12px;
  position: absolute;
  max-width: 590px;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 99;
  margin-top: 120px;

  &__container {
  }

  &__content {
    padding: 30px 30px 205px 30px;

    &__title {
      display: flex;
      justify-content: space-between;

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #1d1d1f;
      }

      button {
        background: #f5f5f7;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }
    }

    &__block {
      margin-top: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #1d1d1f;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #686870;
        max-width: 244px;
        width: 100%;
      }

      button {
        margin-top: 32px;
        background: #00cc2d;
        border-radius: 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        border: none;
        padding: 16px 34px;
      }
    }
  }
}
